<div class="container container-fluid mt-5">
  <div class="row">
    <div *ngFor="let coche of coches">
      <h2>{{coche.tipo}}</h2>
      <p>{{coche.descripcion}}</p>
      <ul>
        <li>Especificaciones:</li>
        <li>Puertas: {{coche.puertas}}</li>
        <li>Asientos: {{coche.asientos}}</li>
        <li>Puertas: {{coche.tipo_conduccion}}</li>
      </ul>
        <p>Precio por día {{coche.precio_dia}}€</p>
        <a [routerLink]="['/reserva/create', coche.id]" class="btn btn-primary">Reservar este coche</a>
        
      </div>
  </div>
</div>
